@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.information-container {
  background-image: url('/images/FinalDestinationBackground.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 98vw;
  z-index: -1;
}

h1 {
  position: relative;
  left: 3vw;
  width: 90vw;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  text-align: center;
  color: #007bff;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 10vh;
  padding: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.information-page {
  position: relative;
  left: 3vw;
  width: 90vw;
  color: #ffffff;
  font-weight: bold;
  text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
  margin-bottom: 300px;
  text-align: justify;
}