body{
  overflow-x: hidden;
}

.home-main-logo {
  width: 40%;
  position: relative;
  top: 35vh;
  left: 30vw;
  margin-bottom: 300px;
}

.paragraph-main {
  margin-top: 45%;
  transform: perspective(1000px);
  transform-origin: center;
}

/* .paragraph {
  text-indent: 50px;
  position: static;
  font-family: "Julius Sans One", serif;
  text-align: justify;
  margin-bottom: 800px;
  padding-left: 80px;
  width: 90%;
  align-items: center;
  font-weight: bold;
  color: white;
  text-shadow:
    -2px -2px 0px black,
    2px -2px 0px black,
    -2px 2px 0px black,
    2px 2px 0px black;
  transform: perspective(800px) rotateX(25deg);
  transform-origin: center;
} */

.paragraph-background {
  position: absolute;
  width: 45%;
  z-index: -1;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: perspective(1700px) rotateX(78.55deg) rotateZ(15deg);
  transform-origin: center;
}

#p-background-1 {
  width: 85%;
  top: -12%;
  left: 7.8vw;
}

#p-background-2 {
  width: 85%;
  top: 2%;
  left: 7.8vw;
}

#p-background-3 {
  width: 85%;
  top: 16.40%;
  left: 7.8vw;
}

#p-background-4 {
  width: 85%;
  top: 30.50%;
  left: 7.8vw;
}

#p-background-5 {
  width: 85%;
  top: 44.31%;
  left: 7.8vw;
}

#p-background-6 {
  width: 85%;
  top: 58.35%;
  left: 7.8vw;
}

#p-background-7 {
  width: 85%;
  top: 72.57%;
  left: 7.8vw;
}

#p-background-8 {
  width: 85%;
  top: 87%;
  left: 7.8vw;
}