#tabuu {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 30%;
    margin-top: 1000px;
    left: 32vw;
}

.footer-main {
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    margin: 0 auto;
    gap: 80px;
}

.footer-img{
    width: 8%;
}

a {
    color: #007bff;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}