#tabuu {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 30%;
    margin-top: 1000px;
    left: 32vw;
}

.footer-main {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
}

@font-face {
    font-family: "Brawler";
    src: url("../fonts/brawler.ttf") format("truetype");
  }
  
  .footer-p-font {
      font-family: "Brawler", serif;
  }

.footer-img{
    width: 8vw;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}