.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 2%;
  z-index: 10;
  width: 98vw;
  padding-top: 5px;
}

.header-logo {
  display: flex;
  position: relative;
  transition: filter 0.5s, opacity 2s, transform 2s ease;
  transition-duration: 2s;
  width: 6vw;
  left: 5%;
}

.header-logo:hover {
  filter: brightness(1.3) contrast(1.2);
  transition-duration: 2s;
}

.header-buttons {
  display: flex;
  gap: 50px;
}

.header-button {
  font-family: 'Roboto', serif;
  color: #f1faee;
  font-size: 1.2vw;
  text-align: center;
  font-weight: bold;
  padding: 0.8rem 2rem;
  background-color: #ff6600;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  border: 2px solid #ff6600;
}

.header-button:hover {
  background-color: #ff4c00;
  color: #f1faee;
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  border: 2px solid #f1faee;
}

@media (max-width: 768px) {
  .header-logo {
    width: 10vw;
  }

  .header-buttons {
    gap: 30px;
  }

  .header-button {
    font-size: 4vw;
    padding: 2.5vw 6vw;
  }
}

@media only screen and (min-width: 1px) and (max-width: 768px) {

   .header-main{
     position: sticky;
     width: 96vw;
     z-index: 10;
   }

   .header-logo{
     width: 20vw;
   }

   .header-buttons{
     display: flex;
     flex-direction: column;
   }
}