.header-logo {
  transition: filter 0.8s ease-in-out, opacity 2s ease-in-out;
  width: 2.7vw;
}

.header-logo:hover {
  filter: blur(100px); /* Aplica un pequeño desenfoque al pasar el ratón */
  opacity: 0.8; /* Hace que la imagen sea un poco transparente */
  width: 2.7vw;
}


.header-main{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: silver;
  position: sticky;
}

.header-buttons {
  display:flex;
  gap:300px;
}

.header-button{
  color: black;
  font-size: 0.9vw;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  padding: 0.8vw;
  background-color: #f1c40f;
  border-radius: 10px;
  transition: background-color 0.8s ease;
  white-space: nowrap;
}

.header-button:hover{
  /* Elegant contrast on hover */
  background-color: #800020;
  color: white;
  /* Slightly larger on hover */
  transform: scale(1.05);
  /* Increased shadow on hover */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}