.video-container3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-video3 {
    width: 50vw;
    height: 90vh;
}

@media only screen and (min-width: 1px) and (max-width: 768px) {

  .background-video3 {
    width: 100vw;
    height: 70vh;
  }
}